.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 108px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.logo img {
  width: 32px;
  /* height: 40px; */
}
.logo span {
    max-width: 100%;
  font-size: 18px;
  color: #606468;
}
