/* mail index  */

.container {
  /* font,fontsize and color is inside the container to not change misskeep fonts */
  font-family: "Google Sans", sans-serif;
  font-size: 14px;
  color: rgb(32, 33, 36);

  display: grid;
  grid-template-columns: 256px minmax(600px, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header header"
    "menu content";
  transition: transform 0.2s ease;

  nav a.active {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: #d3e3fd;
    border-radius: 16px;
  }
}

.container.menu-closed {
  grid-template-columns: 0 1fr;
}