.note-edit-container {
    justify-self: center;
    width: 100%;
    min-width: 200px;
    max-width: 600px;

    background-color: #fff;
    border: 1px solid transparent;
    border-color: #e0e0e0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    border-radius: 8px;
    overflow: hidden;

    margin-block-start: 2em;
    margin-block-end: 3em;

    textarea {
        background-color: inherit;

        &:focus-visible {
            outline: none;
        }

    }

}

.note-edit-form {
    display: flex;
    flex-direction: column;
    font-size: 20px;

}

.note-edit-form :first-child {
    padding: 16px 16px 0px 16px;
    border: none;



}

.note-edit-form :last-child {
    padding: 12px 16px;
    border: none;
}


.note-edit-container .action-container {
    padding: 4px 4px;

}