 /* note index */

 .notes-index {
     font-family: "Roboto", arial, sans-serif;
     direction: ltr;
     font-size: 15px;
     color: rgb(32, 33, 36);

     background-color: #fff;
     margin-block-start: 10px;
 }

 .note-main {
     display: grid;
     margin: 10px 10px;
 }


 .loader {
     display: flex;
     justify-content: center;
     width: 200px;
     margin-block-start: 200px;
 }