.note-filter{
    position: relative;
    margin-inline-start: 1em;

      justify-self: center;
    width: 100%;
    min-width: 200px;
    max-width: 600px;

    background: #f0f4f9;
    border: 1px solid transparent;
    border-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    padding-inline-start: 56px;
    padding-inline-end: 49px;
margin-inline-start: 10px;
    margin-inline-end: 30px;

    input{
        width: 100%;
        background: #f0f4f9;
        padding: 11px 0;
    }

    .btn-clear{
        position: absolute;
        top: 3px;
        right: 8px;
        background-color: inherit;
        padding: 5px 0;
    }

}