 /* note list */


 .notes-list-container ul{
    margin: 0;
 }

 .note-container{
        background-color: #fff;
    border: 1px solid transparent;
    border-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
 }

 .note-container .action-container {
    padding: 4px 4px;

}

.notes-container{
   margin-block-end: 4em;

   p{
      text-transform: uppercase;
      margin: 0px;
   }
}