
.index-main-layout{
    display: grid;
    grid-template-columns: 80px 1fr;

   .note-header{
    grid-column: 1 / -1;
   }

   .nav-bar{
    grid-column: 1 / 2;
   }

   .note-main{
    grid-column: 2 / 3;
   }
}

.note-main{
    display: grid;
    grid-template-columns: ;
}



.notes-list-container ul {
    column-count: auto;
    column-width: 240px;
    column-gap: 10px;
    margin: 0 auto;

    .note-container {
        margin-block-end: 10px;
        border-radius: 15px;
        break-inside: avoid-column;
        page-break-inside: avoid;

    }
}
